@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    margin: 0 2%;
    color: #fff;
}
.visual h2 {
    display: none;
}
.visual .swiper {
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 39px;
    overflow: hidden;
}
.visual .swiper ul li {
    height: 874px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper ul li.popup01 {
    background-image: url(../imges/visual01.png);
}
.visual .swiper ul li.popup02 {
    background-image: url(../imges/visual02.png);
}
.visual .swiper ul li.popup03 {
    background-image: url(../imges/visual03.png);
}
.visual .swiper ul li.popup04 {
    background-image: url(../imges/visual04.png);
}
.visual .swiper ul li h3 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 149px;
}
.visual .btn_wrap {
    position: absolute; /* swiper 기준 정렬 */
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    z-index: 10;
    display: flex;
}
.visual .btn_wrap .play {
    display: none;
}
.visual .btn_wrap .pause,
.visual .btn_wrap .play {
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬 기준 */
}
.visual .btn_wrap .pause::before,
.visual .btn_wrap .play::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 11px;
    height: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 12V0H11V12H7.5ZM0 12V0H3.5V12H0Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
    content: "";
}
.visual .btn_wrap .play::before {
    width: 10px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='11' viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10.3845V0L8.15375 5.19225L0 10.3845Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 부여한 width:100% 삭제하기 위한 명령 */
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /* 현재 선택되지 않은 불릿 */
    width: 16px;
    height: 9px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.6);
    margin: 0 5px 0 0;
    background-color: transparent;
    opacity: 1;
}
.visual .btn_wrap .paging .swiper-pagination-bullet:last-child {
    margin-right: 8px;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active {
    /* 현재 선택된 불릿 */
    width: 32px;
    height: 9px;
    background-color: rgba(255,255,255,0.6);
    border-color: transparent;
}
@media screen and (max-width:1300px) {
    .visual .swiper ul li h3 {
        font-size: 3.5rem;
        font-weight: 800;
        margin-top: 149px;
    }
}/* //visual media 1300 */
@media screen and (max-width:880px) {
    .visual {
        margin: 0 4%;
    }
    .visual .swiper {
        border: 0;
        border-radius: 0;
    }
    .visual .swiper ul li {
        height: 420px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .visual .swiper ul li h3 {
        text-align: center;
        margin-top: 259px;
        font-size: 2.12rem;
    }
    .visual .btn_wrap,
    .visual button {
        display: none;
    }
}/* //visual media 880 */



.reservation {
    margin: 127px 2% 0 2%;
    position: relative; /* more 정렬 기준 */
}
.reservation h2 {
    display: none;
}
.reservation .tit {
    float: left; /* 부유요소 */
    margin-top: 78px;
}
.reservation .tit h3 {
    color: var(--color-main-tit);
    font-size: 3.12rem;
    font-weight: 800;
    margin-bottom: 5px;
}
.reservation .tit p {
    font-size: 1.37rem;
}
.reservation .tit p br {
    display: none;
}
.reservation .list {
    margin-left: 29%;
}
.reservation .list ul li {
    width: 404px;
}
.reservation .list ul li .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border-radius: 20px;
}
.reservation .list ul li .photo img {
    transition: 0.3s;
}
.reservation .list ul li h4 {
    color: var(--color-main-tit);
    font-size: 2.06rem;
    font-weight: 800;
    margin: 17px 0 8px 0;
}
.reservation .list ul li .btn {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.reservation .list ul li .btn a {
    display: block;
    border: 1px solid #3d3d3d;
    border-radius: 7px;
    width: 197px;
    padding: 13px 0;
    text-align: center;
}
.reservation .more {
    position: absolute; /* reservation 기준 정렬 */
    left: 0;
    top: 214px;
}
.reservation .more a {
    display: block;
    font-size: 1.37rem;
    border: 1px solid #1d1d1d;
    border-radius: 7px;
    padding: 5px 52px 5px 20px;
    position: relative; /* after 정렬 기준 */
}
.reservation .more a::after {
    position: absolute;
    right: 18px;
    top: 11px;
    width: 21px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5384 15.9616L12.4768 14.8827L18.6095 8.74996H0.5V7.24996H18.6095L12.4768 1.11721L13.5384 0.0383301L21.5 7.99996L13.5384 15.9616Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    content: "";
}
.reservation .ctrl_bar {
    margin-top: 24px;
}
.reservation .ctrl_bar .scroll {
    position: relative;
    margin-left: 35%;
}
.reservation .ctrl_bar .swiper-scrollbar {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    border-radius: 0;
    background-color: #d9d9d9;
}
.reservation .ctrl_bar .scroll .swiper-scrollbar-drag {
    background-color: #b2b2b2;
    border-radius: 0;
}
/* reservation_hover */
.reservation .list ul li .photo:hover img {
    transform: scale3d(1.2, 1.2, 1);
}
.reservation .list ul li .btn a:hover,
.reservation .more a:hover {
    color: #fff;
    background-color: var(--color-main-blue);
    border-color: var(--color-main-blue);
}
.reservation .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5384 15.9616L12.4768 14.8827L18.6095 8.74996H0.5V7.24996H18.6095L12.4768 1.11721L13.5384 0.0383301L21.5 7.99996L13.5384 15.9616Z' fill='white'/%3E%3C/svg%3E%0A");
}
.reservation .ctrl_bar .scroll .swiper-scrollbar-drag:hover {
    background-color: var(--color-main-blue);
    cursor: pointer;
}
/* //reservation_hover */
@media screen and (max-width:1300px) {
    .reservation .tit p br{
        display: block;
    }
    .reservation .tit h3 {
        font-size: 2.68rem;
    }
    .reservation .tit p {
        font-size: 1.18rem;
    }
    .reservation .list ul li {
        width: 350px;
    }
    .reservation .list ul li h4 {
        font-size: 1.75rem;
        margin: 13px 0 6px 0;
    }
    .reservation .list ul li .btn a {
        width: 170px;
        padding: 10px 0;
    }
    .reservation .more {
        top: 234px;
    }
    .reservation .more a {
        font-size: 1.18rem;
        border-radius: 6px;
        padding: 5px 38px 5px 16px;
    }
    .reservation .more a::after {
        right: 13px;
        top: 11px;
        width: 17px;
        height: 13px;
    }
}/* //reservation_media_1300*/
@media screen and (max-width:880px) {
    .reservation {
        margin: 73px 4% 0 4%;
    }
    .reservation .tit {
        float: none;
        margin-top: 78px;
        text-align: center;
        margin-bottom: 73px;
    }
    .reservation .tit h3 {
        font-size: 1.56rem;
        margin-bottom: 2px;
    }
    .reservation .tit p {
        font-size: 14px;
    }
    .reservation .list {
        margin-left: 0;
    }
    .reservation .list ul li {
        width: 217px;
    }
    .reservation .list ul li .photo {
        border-radius: 0;
    }
    .reservation .list ul li .photo img {
        height: 152px;
    }
    .reservation .list ul li h4 {
        font-size: 1.25rem;
        margin: 10px 0 5px 0;
    }
    .reservation .list ul li p {
        line-height: 1.3;
        height: 2.6em;
        overflow: hidden;
    }
    .reservation .list ul li p br {
        display: none;
    }
    .reservation .list ul li .btn {
        margin-top: 7px;
    }
    .reservation .list ul li .btn a {
        border-radius: 4px;
        width: 104px;
        padding: 6px 0;
    }
    .reservation .more {
        left: 50%;
        top: 87px;
        transform: translate(-50%, 0);
    }
    .reservation .more a {
        font-size: 0.87rem;
        border-radius: 4px;
        padding: 5px 32px 5px 9px;
    }
    .reservation .more a::after {
        right: 10px;
        top: 7px;
        width: 14px;
        height: 11px;
    }
    .reservation .ctrl_bar {
        display: none;
    }
}/* //reservation_media_880*/

.guide {
    margin: 100px 2% 0 2%;
}
.guide h2 {
    display: none;
}
.guide .inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.guide .tit h3 {
    color: var(--color-main-tit);
    font-size: 3.12rem;
    font-weight: 800;
    margin-bottom: 5px;
}
.guide .tit p {
    font-size: 1.37rem;
}
.guide .tab_detail {
    margin-top: 30px;
}
.guide .tab_detail ul li {
    position: relative; /* tit 정렬 기준 */
}
.guide .tab_detail ul li .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border-radius: 39px;
}
.guide .tab_detail ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.guide .tab_detail ul li>.tit {
    position: absolute; /* li 기준 정렬 */
    right: 17%;
    bottom: 53px;
    text-align: right;
    color: #fff;
}
.guide .tab_detail ul li>.tit h4 {
    font-size: 2.62rem;
    font-weight: 800;
    margin-bottom: 4px;
}
.guide .tab_detail ul li>.tit a {
    display: inline-block;
    margin-top: 24px;
    font-size: 1.37rem;
    border: 1px solid #fff;
    border-radius: 24px;
    padding: 9px 52px 9px 22px;
    position: relative; /* after 정렬 기준 */
}
.guide .tab_detail ul li>.tit a::after {
    position: absolute;
    right: 19px;
    top: 15px;
    width: 21px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5384 15.9616L12.4768 14.8827L18.6095 8.74996H0.5V7.24996H18.6095L12.4768 1.11721L13.5384 0.0383301L21.5 7.99996L13.5384 15.9616Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
.guide .tab_detail ul li>.tit a:hover {
    background-color: var(--color-main-blue);
    border-color: var(--color-main-blue);
}
/* tab menu 구현 */
.guide .tab_menu br {
    display: none;
}
.guide .tab_menu button {
    color: #b2b2b2;
    font-size: 1.06rem;
    width: 151px;
}
.guide .tab_menu button.on {
    color: var(--color-main-tit);
    font-weight: 800;
    font-size: 1rem;
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    padding: 7px 0;
}
.guide .tab_detail ul li {
    display: none;
}
.guide .tab_detail ul li.on {
    display: block;
}
/* //tab menu 구현 */
@media screen and (max-width:1300px) {
    .guide .tit h3 {
        font-size: 2.68rem;
    }
    .guide .tit p {
        font-size: 1.18rem;
    }
    .guide .tab_menu button {
        font-size: 1rem;
        width: 130px;
        height: 30px;
    }
    .guide .tab_menu button.on {
        font-size: 1rem;
        border-radius: 7px;
        padding: 0;
    }
    .guide .tab_menu br {
        display: block;
    }
    .guide .tab_detail ul li .photo {
        border-radius: 20px;
    }
    .guide .tab_detail ul li>.tit h4 {
        font-size: 2.18rem;
    }
    .guide .tab_detail ul li>.tit a {
        margin-top: 17px;
        font-size: 1.18rem;
        border: 1px solid #fff;
        border-radius: 24px;
        padding: 7px 52px 7px 22px;
        position: relative; /* after 정렬 기준 */
    }
    .guide .tab_detail ul li>.tit a::after {
        top: 13px;
        width: 17px;
        height: 13px;
    }
}/* //guide_media_1300*/
@media screen and (max-width:880px) {
    .guide {
        margin: 81px 4% 0 4%;
    }
    .guide .inner {
        display: block;
    }
    .guide .tit {
        text-align: center;
    }
    .guide .tit h3 {
        font-size: 1.56rem;
        margin-bottom: 2px;
    }
    .guide .tit p {
        font-size: 14px;
    }
    .guide .tab_menu {
        margin-top: 23px;
        overflow-x: auto;
    }
    .guide .tab_menu .tab_list {
        display: flex;
    }
    .guide .tab_menu br {
        display: none;
    }
    .guide .tab_menu button {
        font-size: 14px;
        width: 128px;
        height: auto;
        white-space: nowrap;
        margin-right: 15px;
    }
    .guide .tab_menu button.on {
        font-size: 14px;
        border: 1px solid #1d1d1d;
        border-radius: 8px;
        padding: 4px 10px;
    }
    .guide .tab_menu::-webkit-scrollbar {
        height: 0;
        background-color: transparent;
    }
    .guide .tab_menu::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .guide .tab_menu::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .guide .tab_detail {
        margin-top: 10px;
    }
    .guide .tab_detail ul li .photo {
        border-radius: 0;
        height: 242px;
    }
    .guide .tab_detail ul li>.tit {
        right: 3%;
        bottom: 23px;
        text-align: right;
        color: #fff;
    }
    .guide .tab_detail ul li>.tit h4 {
        font-size: 1.31rem;
        margin-bottom: 3px;
    }
    .guide .tab_detail ul li>.tit a {
        margin-top: 18px;
        font-size: 14px;
        padding: 3px 37px 3px 17px;
    }
    .guide .tab_detail ul li>.tit a::after {
        position: absolute;
        right: 16px;
        top: 7px;
        width: 14px;
        height: 11px;
    }
}/* //guide_media_880*/

.happydog {
    margin: 293px 2% 0 2%;
    display: none;
}
.happydog h2 {
    display: none;
}
.happydog .inner {
    display: flex;
    position: relative; /* video 정렬 기준 */
}
.happydog .inner .tit .item {
    font-size: 3.12rem;
    font-weight: 800;
    white-space: nowrap;
    position: relative; /* .txt_bl 정렬 기준 */
}
.happydog .inner .tit .item .txt_bl {
    color: var(--color-main-tit);
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 1s;
}
.happydog.active .inner .tit .item .txt_bl {
    width: 100%;
}
.happydog .inner .tit .item .txt_gr {
    color: #b2b2b2;
}
.happydog .inner .video video {
    position: absolute; /* item 기준 정렬 */
}
.happydog .inner .video .happydog01 {
    right: 31%;
    top: -106px;
}
.happydog .inner .video .happydog02 {
    right: 14%;
    top: 124px;
}
.happydog .inner .video .happydog03 {
    right: -9%;
    top: -152px;
}
.final {
    position: relative;
    margin-top: 362px;
    
}
.final .slogan {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-family: 'JSArirangHON-Regular';
    font-size: 5.62rem;
    -webkit-text-stroke: 1px #1d1d1d;
    color: transparent;
    white-space: nowrap;
}
.final .slogan p {
    position: absolute;
    left: 0;
    top: 60px;
    animation-name: slogan_move;
    /* transform: translate(0, 0); */
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes slogan_move {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-50%, 0);}
}




footer {
    margin-top: 5000px;
}