@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*
    plug-in 사용 시, 이미 적용된 css를 변경 하려면
    1. 동일 선택자 앞에 body tag selector을 추가하는 방법
        strong
        body strong -- 이 경우 후자가 우선순위가 높음
    2. 속성값 뒤 !important 추가 -- 1순위 우선순위가 됨. 모바일에서도 적용되기 때문에 신중하게 주어야 함.
        또한 해제가 안 됨.
*/

.fp_nav {
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%); /* 위아래 가운데 */
    z-index: 99;
}
.fp_nav ul li a {
    display: block;
    color: rgba(255, 255, 255,0.6);
    line-height: 2;
    white-space: nowrap; /* 줄바꿈 금지 */
    padding-left: 15px;
    position: relative; /* before 정렬 기준 */
}
.fp_nav ul li a::before {
    position: absolute;
    left: -2px;
    top: 14px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,0.6);
    content: "";
}
.fp_nav ul li a::after {
    position: absolute;
    left: 1px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255,0.6);
    content: "";
}
.fp_nav ul li:first-child a::after {
    top: 20px;
    height: calc(100% - 20px);
}
.fp_nav ul li:last-child a::after {
    height: 17px;
}
.fp_nav ul li.active a,
.fp_nav ul li a:hover {
    color: #32C7A1;
    font-weight: 800;
}
.fp_nav ul li.active a span::after,
.fp_nav ul li a:hover span::after {
    position: absolute;
    left: 14px;
    bottom: 3px;
    content: "";
    width: auto;
    height: 1px;
    background-color: #32C7A1;
    border-bottom: 1px solid #32C7A1;
}
.fp_nav ul li.active a::before,
.fp_nav ul li a:hover::before {
    background-color: #32C7A1;
    z-index: 1;
}
/* dark mode */
.fp_nav.dark ul li a {
    color: #666;
}
.fp_nav ul li a::after {
    background-color: #ededed;
}
.fp_nav.dark ul li a::before {
    background-color: #ccc;
}
.fp_nav.dark ul li.active a,
.fp_nav.dark ul li a:hover {
    color: #32C7A1;
    font-weight: 800;
}
.fp_nav.dark ul li.active a::before,
.fp_nav.dark ul li a:hover::before {
    background-color: #32C7A1;
}
/* //dark mode */

.quick_menu {
    position: fixed;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.quick_menu ul li {
    margin-bottom: 10px;
}
.quick_menu ul li a,
.quick_menu ul li button {
    color: #fff;
    font-size: 15px;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #32C7A1;
    text-align: center;
    padding: 45px 0 0 0;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.15);
    position: relative; /* before 정렬 기준 */
}
.quick_menu ul li button {
    background-color: #014D8B;
    padding-top: 21px;
}
.quick_menu ul li a::before,
.quick_menu ul li button::before {  
    position: absolute;
    left: 0;
    top: 13px;
    width: 100%;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.quick_menu ul li.mytree a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9375 28.4151V22.2306H12.75C10.9811 22.2306 9.47632 21.6104 8.23579 20.3698C6.99526 19.1295 6.375 17.6248 6.375 15.8556C6.375 14.5207 6.77367 13.3138 7.57102 12.235C8.36837 11.1562 9.39179 10.3544 10.6413 9.82948C10.8448 8.01332 11.5386 6.55675 12.7227 5.45978C13.9071 4.36257 15.3328 3.81396 17 3.81396C18.6672 3.81396 20.0929 4.36257 21.2773 5.45978C22.4614 6.55675 23.1552 8.01332 23.3587 9.82948C24.6172 10.3362 25.6428 11.1335 26.4357 12.2215C27.2286 13.3093 27.625 14.5207 27.625 15.8556C27.625 17.6248 27.0047 19.1295 25.7642 20.3698C24.5237 21.6104 23.0189 22.2306 21.25 22.2306H18.0625V28.4151H25.1458C25.4469 28.4151 25.6992 28.517 25.9027 28.7207C26.1065 28.9245 26.2083 29.1769 26.2083 29.4779C26.2083 29.7792 26.1065 30.0315 25.9027 30.2348C25.6992 30.4383 25.4469 30.5401 25.1458 30.5401H8.85417C8.55312 30.5401 8.30084 30.4382 8.09731 30.2344C7.89355 30.0307 7.79167 29.7782 7.79167 29.4769C7.79167 29.1758 7.89355 28.9236 8.09731 28.72C8.30084 28.5167 8.55312 28.4151 8.85417 28.4151H15.9375ZM12.75 20.1056H21.25C22.4306 20.1056 23.434 19.6924 24.2604 18.866C25.0868 18.0397 25.5 17.0362 25.5 15.8556C25.5 14.9421 25.2194 14.1243 24.6581 13.4023C24.0969 12.6805 23.3859 12.1453 22.525 11.7965L21.3917 11.3223L21.2337 10.0473C21.0828 8.77608 20.6188 7.77355 19.8415 7.03972C19.0642 6.30588 18.117 5.93896 17 5.93896C15.883 5.93896 14.9358 6.30588 14.1585 7.03972C13.3812 7.77355 12.9172 8.77608 12.7663 10.0473L12.6083 11.3223L11.3659 11.8511C10.5414 12.1998 9.85764 12.7306 9.31458 13.4434C8.77153 14.1562 8.5 14.9603 8.5 15.8556C8.5 17.0362 8.91319 18.0397 9.73958 18.866C10.566 19.6924 11.5694 20.1056 12.75 20.1056Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.happyb a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9992 25.9375C14.7334 25.9375 14.5108 25.8476 14.3314 25.6678C14.1518 25.4882 14.062 25.2656 14.062 25V16.0168C12.8089 16.0168 11.6078 15.7797 10.4586 15.3053C9.30964 14.8309 8.29443 14.153 7.41297 13.2715C6.53172 12.3901 5.85911 11.3749 5.39516 10.2259C4.9312 9.07695 4.69922 7.8758 4.69922 6.62247V5.85341C4.69922 5.53674 4.8063 5.27122 5.02047 5.05685C5.23464 4.84268 5.50016 4.7356 5.81703 4.7356H6.58609C7.81214 4.7356 8.99922 4.97476 10.1473 5.4531C11.2957 5.93143 12.3105 6.61133 13.1917 7.49278C13.8457 8.14674 14.3821 8.87716 14.8011 9.68403C15.2203 10.4909 15.5204 11.3479 15.7014 12.255C15.8456 12.005 16.0062 11.7681 16.1833 11.5443C16.3604 11.3208 16.558 11.1001 16.7761 10.8822C17.6548 10.0022 18.6703 9.32268 19.8223 8.84372C20.9744 8.36455 22.1753 8.12497 23.4248 8.12497H24.1942C24.5109 8.12497 24.7763 8.23216 24.9905 8.44653C25.2048 8.6607 25.312 8.92612 25.312 9.24278V10.0118C25.312 11.2616 25.0724 12.4626 24.5933 13.6147C24.1143 14.7667 23.4348 15.7822 22.5548 16.6609C21.6734 17.5424 20.6634 18.2151 19.5248 18.679C18.3861 19.143 17.1902 19.375 15.937 19.375V25C15.937 25.2656 15.8471 25.4882 15.6673 25.6678C15.4876 25.8476 15.2648 25.9375 14.9992 25.9375ZM14.0742 14.1106C14.0742 13.1106 13.8815 12.1575 13.4961 11.2512C13.1107 10.345 12.5638 9.53768 11.8555 8.82935C11.1471 8.12101 10.3398 7.57414 9.43359 7.18872C8.52734 6.8033 7.57422 6.6106 6.57422 6.6106C6.57422 7.6106 6.76172 8.56893 7.13672 9.4856C7.51172 10.4023 8.05339 11.2148 8.76172 11.9231C9.47005 12.6314 10.2826 13.1731 11.1992 13.5481C12.1159 13.9231 13.0742 14.1106 14.0742 14.1106ZM15.937 17.5C16.937 17.5 17.8902 17.3125 18.7964 16.9375C19.7027 16.5625 20.5099 16.0208 21.2183 15.3125C21.9266 14.6041 22.4735 13.7916 22.8589 12.875C23.2443 11.9583 23.437 11 23.437 9.99997C22.437 9.99997 21.4787 10.1927 20.562 10.5781C19.6454 10.9635 18.8329 11.5104 18.1245 12.2187C17.4162 12.9271 16.8745 13.7343 16.4995 14.6406C16.1245 15.5468 15.937 16.5 15.937 17.5Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.worth a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1849 24.0357C16.2224 24.0507 16.256 24.0582 16.2858 24.0582C16.3157 24.0582 16.3494 24.0507 16.387 24.0357L23.2499 21.911C23.1902 21.6463 23.0668 21.4433 22.8798 21.302C22.6927 21.1606 22.4811 21.0899 22.2448 21.0899H16.5314C16.0223 21.0899 15.5898 21.0705 15.2337 21.0316C14.8777 20.9927 14.5119 20.9074 14.1365 20.7758L12.3057 20.1767C12.0704 20.1018 11.9013 19.9523 11.7985 19.7281C11.6954 19.5037 11.6813 19.2753 11.7562 19.0427C11.8309 18.81 11.9755 18.6394 12.1902 18.5311C12.4049 18.4226 12.6303 18.4058 12.8666 18.4807L14.3832 19.0124C14.7363 19.1246 15.1313 19.2042 15.568 19.2512C16.0047 19.2983 16.5707 19.3279 17.2661 19.3399H17.5781C17.5781 19.0512 17.5131 18.8021 17.383 18.5927C17.2529 18.3832 17.0816 18.2419 16.8691 18.1686L10.1004 15.6827C10.0778 15.6753 10.0572 15.6698 10.0386 15.6661C10.0199 15.6622 9.99938 15.6602 9.97702 15.6602H7.81869V21.6732L16.1849 24.0357ZM15.7296 25.7499L7.81869 23.4816C7.68549 23.9646 7.41473 24.3523 7.00639 24.6447C6.59806 24.9372 6.16581 25.0834 5.70964 25.0834H4.09439C3.51437 25.0834 3.01785 24.8769 2.60485 24.4639C2.19185 24.0509 1.98535 23.5544 1.98535 22.9744V16.0193C1.98535 15.4395 2.19185 14.943 2.60485 14.53C3.01785 14.117 3.51437 13.9105 4.09439 13.9105H9.96389C10.0862 13.9105 10.2102 13.924 10.3358 13.9508C10.4616 13.9778 10.5782 14.0092 10.6858 14.045L17.4839 16.549C18.0134 16.7448 18.4531 17.0914 18.8031 17.5887C19.1531 18.0861 19.3281 18.6699 19.3281 19.3399H22.2448C23.0825 19.3399 23.7649 19.6103 24.292 20.151C24.8194 20.6916 25.083 21.3934 25.083 22.2566C25.083 22.5871 24.9955 22.8533 24.8205 23.0552C24.6455 23.2572 24.3808 23.4172 24.0263 23.5352L16.9479 25.7318C16.7563 25.7946 16.5551 25.8278 16.3441 25.8315C16.1333 25.8354 15.9285 25.8082 15.7296 25.7499ZM3.73535 22.9744C3.73535 23.0792 3.76899 23.1652 3.83627 23.2325C3.90355 23.2998 3.98959 23.3334 4.09439 23.3334H5.70964C5.81425 23.3334 5.9003 23.3054 5.96777 23.2494C6.03505 23.1932 6.06869 23.1015 6.06869 22.9744V15.6602H4.09439C3.98959 15.6602 3.90355 15.694 3.83627 15.7615C3.76899 15.8287 3.73535 15.9147 3.73535 16.0193V22.9744ZM18.4867 13.9753C18.225 13.9753 17.9677 13.9275 17.7149 13.8318C17.4622 13.7361 17.2312 13.5925 17.0219 13.401L13.8696 10.3408C13.3117 9.80241 12.8424 9.20304 12.4617 8.54271C12.081 7.88237 11.8906 7.16322 11.8906 6.38525C11.8906 5.42178 12.2279 4.60287 12.9024 3.92854C13.5768 3.25401 14.3957 2.91675 15.3591 2.91675C15.9889 2.91675 16.5704 3.06861 17.1036 3.37233C17.637 3.67586 18.0981 4.06251 18.487 4.53229C18.8759 4.06251 19.3369 3.67586 19.8701 3.37233C20.4032 3.06861 20.9847 2.91675 21.6145 2.91675C22.578 2.91675 23.3969 3.25401 24.0712 3.92854C24.7458 4.60287 25.083 5.42178 25.083 6.38525C25.083 7.16322 24.8957 7.88237 24.521 8.54271C24.1463 9.20304 23.68 9.80241 23.1221 10.3408L19.952 13.401C19.7426 13.5925 19.5114 13.7361 19.2584 13.8318C19.0057 13.9275 18.7484 13.9753 18.4867 13.9753ZM18.7337 12.1357L21.8231 9.13829C22.2149 8.75387 22.5645 8.33582 22.8719 7.88412C23.1793 7.43243 23.333 6.9328 23.333 6.38525C23.333 5.90516 23.1666 5.49878 22.8337 5.16608C22.501 4.83319 22.0946 4.66675 21.6145 4.66675C21.2451 4.66675 20.907 4.76319 20.6004 4.95608C20.2938 5.14916 20.023 5.39378 19.7881 5.68992L19.2675 6.31816C19.0666 6.56044 18.807 6.68158 18.4887 6.68158C18.1704 6.68158 17.9096 6.56044 17.7062 6.31816L17.1856 5.68992C16.9507 5.39378 16.6799 5.14916 16.3733 4.95608C16.0668 4.76319 15.7288 4.66675 15.3591 4.66675C14.8791 4.66675 14.4727 4.83319 14.14 5.16608C13.8071 5.49878 13.6406 5.90516 13.6406 6.38525C13.6406 6.9328 13.7944 7.43243 14.1018 7.88412C14.4092 8.33582 14.7588 8.75387 15.1506 9.13829L18.2399 12.1357C18.3074 12.203 18.3898 12.2367 18.487 12.2367C18.5842 12.2367 18.6664 12.203 18.7337 12.1357Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.treewolrd a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.43291 16.564C5.89859 16.564 5.45576 16.3894 5.10443 16.0402C4.75286 15.6908 4.57708 15.249 4.57708 14.7149C4.57708 14.1806 4.7518 13.7377 5.10124 13.3861C5.45045 13.0348 5.89221 12.8591 6.42653 12.8591C6.96085 12.8591 7.40368 13.0338 7.75501 13.3833C8.10658 13.7325 8.28237 14.1742 8.28237 14.7086C8.28237 15.2429 8.10765 15.6857 7.7582 16.037C7.40899 16.3884 6.96723 16.564 6.43291 16.564ZM8.11874 28.6875H20.2422V20.814H17.4089C15.9233 20.814 14.6665 20.3024 13.6384 19.2791C12.6104 18.2555 12.0964 17.0236 12.0964 15.5834C12.0964 14.4411 12.426 13.4162 13.0852 12.5088C13.7447 11.6017 14.592 10.9211 15.6271 10.4671C15.7869 8.95052 16.4172 7.69866 17.518 6.71148C18.6185 5.7243 19.8807 5.23071 21.3047 5.23071C22.7287 5.23071 23.991 5.7243 25.0915 6.71148C26.1922 7.69866 26.8224 8.95052 26.982 10.4671C28.0174 10.9211 28.8646 11.6017 29.5239 12.5088C30.1833 13.4162 30.5131 14.4411 30.5131 15.5834C30.5131 17.0236 29.999 18.2555 28.971 19.2791C27.943 20.3024 26.6862 20.814 25.2006 20.814H22.3672V28.6875H28.3881C28.6891 28.6875 28.9414 28.7894 29.1449 28.9932C29.3487 29.1969 29.4506 29.4493 29.4506 29.7504C29.4506 30.0517 29.3487 30.3039 29.1449 30.5072C28.9414 30.7108 28.6891 30.8125 28.3881 30.8125H6.02101C5.65835 30.8125 5.35424 30.6903 5.10868 30.446C4.86336 30.2016 4.7407 29.8988 4.7407 29.5375V24.4375C4.48098 24.2777 4.20721 24.1119 3.91939 23.9403C3.63133 23.7686 3.4873 23.5167 3.4873 23.1845V19.0432C3.4873 18.7422 3.58919 18.4899 3.79295 18.2864C3.99648 18.0826 4.24876 17.9807 4.5498 17.9807H8.30928C8.61033 17.9807 8.86273 18.0826 9.06649 18.2864C9.27002 18.4899 9.37178 18.7422 9.37178 19.0432V23.1845C9.37178 23.5167 9.22787 23.7686 8.94005 23.9403C8.65224 24.1119 8.37846 24.2777 8.11874 24.4375V28.6875ZM17.4089 18.689H25.2006C26.0886 18.689 26.8419 18.39 27.4605 17.7919C28.0789 17.1939 28.3881 16.4577 28.3881 15.5834C28.3881 14.8823 28.1828 14.2562 27.7722 13.7049C27.3618 13.1538 26.8297 12.7393 26.1759 12.4614L24.9881 11.9599L24.8574 10.7284C24.77 9.78234 24.3903 8.9837 23.7184 8.33251C23.0464 7.68131 22.2418 7.35571 21.3047 7.35571C20.3676 7.35571 19.5629 7.68131 18.8907 8.33251C18.2187 8.9837 17.8392 9.78234 17.7521 10.7284L17.6214 11.9599L16.4335 12.4614C15.7797 12.7393 15.2475 13.1538 14.8369 13.7049C14.4266 14.2562 14.2214 14.8823 14.2214 15.5834C14.2214 16.4577 14.5306 17.1939 15.149 17.7919C15.7673 18.39 16.5206 18.689 17.4089 18.689Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 10.4536L7.92724 14.5269C7.78874 14.6652 7.61466 14.7361 7.40499 14.7394C7.19549 14.7426 7.01824 14.6717 6.87324 14.5269C6.72841 14.3819 6.65599 14.2062 6.65599 13.9999C6.65599 13.7936 6.72841 13.6179 6.87324 13.4729L11.3675 8.97865C11.4612 8.88515 11.5599 8.81915 11.6637 8.78065C11.7676 8.74215 11.8797 8.7229 12.0002 8.7229C12.1207 8.7229 12.2329 8.74215 12.3367 8.78065C12.4406 8.81915 12.5393 8.88515 12.633 8.97865L17.1272 13.4729C17.2656 13.6114 17.3364 13.7855 17.3397 13.9952C17.3429 14.2046 17.2721 14.3819 17.1272 14.5269C16.9822 14.6717 16.8066 14.7442 16.6002 14.7442C16.3939 14.7442 16.2182 14.6717 16.0732 14.5269L12.0002 10.4536Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1025px) {
    .fp_nav {
        display: none;
    }
    .quick_menu {
        display: none;
    }
}

.visual h2 {
    display: none;
}
.visual .swiper {
    width: 100vw;
    height: 100vh;
}
.visual .swiper .swiper-slide {
    height: 100vh; /* full page이기 때문에 이 값을 줘야 함... */
    background: url(../imges/main/popup_bg01.png) no-repeat center center / cover;
    text-align: center;
    color: #fff;
}
.visual .swiper .swiper-slide.popup01 {
    background-image: url(../imges/main/popup_bg01.png);
}
.visual .swiper .swiper-slide.popup02 {
    background-image: url(../imges/main/popup_bg02.png);
}
.visual .swiper .swiper-slide.popup03 {
    background-image: url(../imges/main/popup_bg03.png);
}
.visual .swiper .swiper-slide.popup04 {
    background-image: url(../imges/main/popup_bg04.png);
}
.visual .swiper .swiper-slide .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.visual .swiper .swiper-slide .inner h3 {
    font-size: 4.11rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 27px;
}
.visual .swiper .swiper-slide .inner p {
    font-size: 20px;
}
.visual .swiper .paging {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
}
.visual .swiper .paging .item {
    width: 25%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    margin: 0;
    display: block;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    text-align: center;
    backdrop-filter: blur(4px);
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: rgba(255, 255, 255,0.2);
    transition: 0.3s;
}
.visual .swiper .paging .item .txt1::before {
    content: "마이트리 내 나무 갖기";
}
.visual .swiper .paging .item .txt2::before {
    content: "#같이가치 #매달기부";
}
.visual .swiper .paging .item .txt3::before {
    content: "고목나무 이야기";
}
.visual .swiper .paging .item .txt4::before {
    content: "자원봉사 활동";
}
.visual .swiper .paging .item.swiper-pagination-bullet-active,
.visual .swiper .paging .item:hover {
    background-color: #32C7A1;
    border-color: #32C7A1;
}
@media screen and (max-width:1300px) {
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 3.23rem;
        margin-bottom: 6px;
    }
}

@media screen and (max-width:1024px) {
    .visual .swiper {
        height: 490px;
    }
    .visual .swiper .swiper-slide {
        height: 490px;
    }
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 3.23rem;
    }
    .visual .swiper .swiper-slide .inner p {
        display: none;
    }
    .visual .swiper .paging {
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }
    .visual .swiper .paging .item {
        width: 20px;
        height: 8px;
        line-height: 0;
        font-size: 0;
        border-radius: 4px;
        background-color: rgba(255, 255, 255,0.6);
        backdrop-filter: blur(4px);
        border-width: 0;
        transition: 0.3s;
        margin: 0 2px;
    }
    .visual .swiper .paging .item.swiper-pagination-bullet-active {
        width: 50px;
    }
}
@media screen and (max-width:768px) {
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 1.94rem;
    }
}










.tree {
    background-color: #fff;
}
.forest {
    background-color: #3333cc;
    color: #fff;
}
.story {
    background-color: #fff;
}
footer {
    background-color: #2d2d2d;
    color: #fff;
    height: 300px;
}