@import url(default.css); /* default.css를 불러오는 명령 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../fonts/Pretendard-SemiBold.woff2) format('woff2'), url(../fonts/Pretendard-SemiBold.woff) format('woff');
}
html, body {
    /* font-family에서 사용하는 서체명은 font-face에서 사용한 이름 그대로 사용함 */
    color: #3d3d3d;
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    font-weight: 600; /* 글자 두께 */
    line-height: 1.25; /* 행간 */
    letter-spacing: -0.01em; /* 자간 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
.wrapper { /* 홈페이지 넓이 제한, 가운데 정렬 */
    width: 1260px;
    margin: 0 auto;
}
.notice h1 {
    color: #1d1d1d;
    font-size: 55pt;
    font-weight: 800;
    margin: 88px 0 35px 0;
}
.notice ul {
    display: flex;
    justify-content: space-between;
}
/*
    li와 a의 사이즈를 같게 하기 위해서 하는 작업임.
    <li> --- 넓이값
        <a> --- 높이값
        </a>
    </li>
        a에 높이를 주면 li는 a의 높이값을 동일하게 갖음.
        감싸는 요소는 내부요소의 높이값만큼 높이가 생성됨.
        (안에 있는 것이 늘어나면 밖의 것도 함께 늘어남.)
        */
.notice ul li {
    width: 404px;
}
.notice ul li a {
    background-color: #f4f4f4;
    border-radius: 20px;
    display: inline-block;
    height: 313px; /* 이 명령은 너비가 100%가 됨 */
    padding: 35px 42px 0 42px;
}
.notice ul li a strong {
    display: block;
    color: #1d1d1d;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin: 0 0 18px 0;

}
.notice ul li a .memo {
    display: block;
}
.notice ul li a .group {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    margin: 23px 0 0 0;
    padding: 14px 0 0 0;
}
/* 마우스오버 */
.notice ul li a:hover {
    background-color: #369245;
    color: rgba(255,255,255,0.8);
}
/* a에 마우스 오버 했을 때 strong이 할 일 부여 */
.notice ul li a:hover strong {
    color: #fff;
}
.notice ul li a:hover .group {
    border-top: 1px solid rgba(255,255,255,0.2);
}
.bbs ul {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 200px 0;
}
.bbs ul li {
    width: 404px;
}
.bbs ul li a {
    display: block;
    background-color: #f4f4f4;
    border-radius: 20px;
    height: 313px;
    padding: 35px 42px 0 42px;
    border: 2px solid #f4f4f4;
    /* border, padding의 합산값이 여백으로 들어감 -> 여백이 더 많아진다는 말.
    -> 그래서 border값 만큼 padding에서 빼줘야 함. */
}
/* 마우스를 오버했을 때 border을 주고자 한다면
원래 border을 주고 border의 색만 변경해야함.
-> 원래는 배경색과 border색을 같게 주고 마우스 오버시 border색상만 변경하기 */
.bbs ul li a:hover {
    border: 2px solid #369245;
    box-shadow: 8px 1px 24px rgba(54, 146, 69, 0.3)
}
.bbs ul li a h2 {
    color: #1d1d1d;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin: 0 0 18px 0;
}
.bbs ul li a div {
    display: flex;
    justify-content: space-between;
    margin: 23px 0 0 0;
    padding: 14px 0 0 0;
    border-top: 1px solid #ccc;
}
