/* header나 footer 처럼 페이지에 공통으로 배치되는 요소의 css를 layout.css로 분리 */

.skipnav {
    position: absolute;
    left: 0;
    top: -100px; /* focus 될 때 만 나타나야 하기 때문에 상단에 숨겨져 있어야 함. */
    width: 100%;
    height: 50px;
    z-index: 9999999999;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #DC0B13;
    color: #fff;
    text-align: center;
}
.skipnav a:focus {
    top: 100px; /* a가 포커스되면 올라간만큼 다시 내려줌. */
}

header {
    position: relative;
    z-index: 100; /* z-index을 주려면 position값이 있어야 함 */
}
header .header_sub .logo a {
    display: block;
    height: 60px;
    width: 85px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬 기준. 근데 로고는 그냥 여기다가 바로 백그라운드 이미지 줘도 됨. */
}
header .header_sub .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../imges/common/logo.svg) no-repeat center center / contain;
    content: "";
}
@media screen and (min-width:1025px) {
    header .header_top {
        height: 82px;
        display: flex;
        justify-content: space-between;
    }
    header .header_top .tnb ul {
        display: flex;
    }
    header .header_top .tnb ul li a {
        display: block;
        padding: 25px 16px;
        font-size: 0.93rem;
        color: var(--txt-color-gray);
    }
    header .header_top .tnb ul li:first-child a {
        padding-left: 0;
    }
    header .header_top .tnb ul li:last-child a {
        padding-left: 0;
    }
    header .header_top .tnb ul li a:hover span {
        border-bottom: 1px solid #666;
    }
    header .header_sub {
        height: 68px;
        position: relative; /* logo 정렬 기준 */
    }
    header .header_sub .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0); /* 좌우의 가운데값 */
        top: -70px;
    }
    header .header_sub .gnb .gnb_open,
    header .header_sub .gnb .gnb_close {
        display: none;
    }
    header .header_sub .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .header_sub .gnb .gnb_wrap ul.depth1>li {
        width: 16.66%;
        min-width: 147px; /* ul width의 16%정도의 너비를 갖게 되는데, 단 최소 147px은 유지하라 */
        text-align: center;
        position: relative; /* depth2 정렬 기준 */
    }
    header .header_sub .gnb .gnb_wrap ul.depth1>li>a {
        font-size: 1.40rem;
        font-family: "Trirong", serif;
        font-weight: 400;
        color: #1d1d1d;
        line-height: 68px;
        display: block;
        white-space: nowrap; /* 1줄 넘으면 숨기기 */
    }
    header .header_sub .gnb .gnb_wrap ul.depth2 {
        display: none;
        /* header의 밖에 존재하는 요소 position:absolute */
        position: absolute;
        left: 0;
        top: 68;
        width: 100%;
        padding-top: 20px; /* depth1 a 와 ul 사이의 여백은 반드시 padding */
    }
    /* menu over style */
    header.menu_over .header_sub .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
    header.menu_over::before {
        position: absolute; /* header 기준 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 390px;
        background-color: #fff;
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    header .header_sub .gnb .gnb_wrap ul.depth1>li>a:hover {
        color: var(--color-main-pink);
        font-weight: 700;
        letter-spacing: -1px;
    }
    header .header_sub .gnb .gnb_wrap ul.depth2>li>a {
        display: block;
        line-height: 2;
        white-space: nowrap; /* 1줄 넘으면 숨기기 */
    }
    header .header_sub .gnb .gnb_wrap ul.depth2>li>a:hover {
        color: var(--color-main-pink);
        font-weight: 700;
        letter-spacing: -0.4px;
    }
    header .header_sub .gnb .gnb_wrap ul.depth1>li.on>a {
        color: var(--color-main-pink);
        font-weight: 700;
        letter-spacing: -1px;
    }
    header .header_sub .gnb .gnb_wrap ul.depth1>li.on>a>span {
        position: relative;
    }
    header .header_sub .gnb .gnb_wrap ul.depth1>li.on>a>span::after {
        position: absolute;
        left: -5px;
        bottom: -17px;
        z-index: 10;
        width: calc(100% + 10px);
        height: 1px;
        background-color: var(--color-main-pink);
        content: "";
    }
    /* //menu over style */

    /* header fixed style */
    header.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.18);
    }
    header.menu_over.fixed::after {
        top: 68px;
    }
    header.menu_over.fixed::before {
        height: 320px;
    }
    header.fixed+.container {
        /* 인접 형제 선택자 cf) https://ez1852.cafe24.com/guide/css_selector.html */
        margin-top: 68px; /* header가 fixed 되면 밑에꺼가 따라 올라옴. 그래서 윗마진값을 줘서 막아야 함. */
    }
    header.fixed .wrapper {
        width: auto;
        margin: 0 20px;
    }
    header.fixed .header_top {
        display: none;
    }
    header.fixed .header_sub {
        display: flex;
        justify-content: space-between;
    }
    header.fixed .header_sub .logo {
        position: relative; /* absolute 해제. 그냥 flex로 들어갈 것임. */
        left: auto;
        transform: translate(0, 0); /* 기존값 삭제 */
        top: auto;
        margin: 3px 0 0 0;
    }
    /* //header fixed style */

} /* media min1025 */
@media screen and (max-width:1300px) and (min-width:1025px) {
    header .header_sub .gnb .gnb_wrap ul.depth1>li>a {
        font-size: 1.33rem;
    }
} /* media 1025-1300 */
@media screen and (max-width:1024px) { /* 1024이하 - 모바일 */
    header {
        height: 50px;
    }
    header .header_top {
        display: none;
    }
    header .header_sub .logo {
        margin-top: 11px;
    }
    header .header_sub .logo a {
        height: 43.5px;
        width: 63px;
    }
    header .header_sub .gnb .gnb_wrap {
        display: none;
    }
    header .header_sub .gnb .gnb_open,
    header .header_sub .gnb .gnb_close {
        position: absolute; /* header 기준 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .header_sub .gnb .gnb_open::before,
    header .header_sub .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        
        content: "";
    }
    header .header_sub .gnb .gnb_open::before {
        width: 30px;
        height: 19.87px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='14px'%3E%3Cpath fill-rule='evenodd' fill='rgb(29, 29, 29)' d='M0.008,8.000 L0.008,6.000 L19.992,6.000 L19.992,8.000 L0.008,8.000 ZM0.006,-0.000 L14.994,-0.000 L14.994,1.1000 L0.006,1.1000 L0.006,-0.000 ZM19.524,13.250 L0.476,13.250 L0.476,11.750 L19.524,11.750 L19.524,13.250 Z'/%3E%3C/svg%3E");
    }
    header .header_sub .gnb .gnb_close::before {
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='14' viewBox='0 0 17 14'%3E%3Cg id='mobile_header_menubar' data-name='mobile header menubar' transform='translate(-2295.5 -6735.5)'%3E%3Cline id='선_17' data-name='선 17' x2='15' transform='translate(2296.5 6736.5)' fill='none' stroke='%231d1d1d' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_18' data-name='선 18' x2='15' transform='translate(2296.5 6742.5)' fill='none' stroke='%231d1d1d' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_19' data-name='선 19' x2='15' transform='translate(2296.5 6748.5)' fill='none' stroke='%231d1d1d' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .header_sub .gnb .gnb_close {
        display: none;
    }
    /* m ver. header fixed style */
    header.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.18);
    }
    header.fixed+.container {
        /* 인접 형제 선택자 cf) https://ez1852.cafe24.com/guide/css_selector.html */
        margin-top: 50px; /* header가 fixed 되면 밑에꺼가 따라 올라옴. 그래서 윗마진값을 줘서 막아야 함. */
    }
    /* //m ver. header fixed style */
}/* media 1024 */

footer {
    margin-top: 1000px;
}

