@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 300px; /* 최소 높이 */
    color: #fff;
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../imges/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../imges/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../imges/visual_bg3.png);
}
.visual ul li h3 {
    font-size: 45px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 29px;
    margin-top: 30vh;
}
.visual ul li p {
    font-size: 26px;
}
.visual .btn_wrap {
    position: absolute; /* swiper 기준 정렬 */
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0); /* 정렬 기준 (swiper)의 너비 왼쪽 50%부터(left:50%) 정렬. btn_wrap 너비의
    절반을 왼쪽으로 이동 (transform) -> 가운데 정렬이 됨. */
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 부여한 width:100% 삭제하기 위한 명령 */
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /* 현재 선택되지 않은 불릿 */
    width: 232px;
    height: 10px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
    position: relative; /* before 정렬 기준 */
    margin-right: 20px;
}
.visual .btn_wrap .paging .swiper-pagination-bullet:last-child {
    margin-right: 0;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    /* 현재 선택된 불릿 */
    position: absolute; /* bullet 기준 정렬 */
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /* 애니메이션 종료 후 마지막 유지, 애니메이션 반복 횟수가 제한되었을 때 사용 */
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% {width: 0;}
    100% {width: 100%;}
}
.visual .btn_wrap button {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬 기준 */
    margin-left: 2px;
}
.visual .btn_wrap button::before {
    position: absolute; /* button 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_200' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_200)'%3E%3Cpath d='M7.64453 21.6347V8.3653H9.51953V21.6347H7.64453ZM22.3558 21.6347L12.4039 15L22.3558 8.3653V21.6347ZM20.4808 18.125V11.875L15.7742 15L20.4808 18.125Z' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_197' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_197)'%3E%3Cpath d='M20.4808 21.6347V8.3653H22.3558V21.6347H20.4808ZM7.64453 21.6347V8.3653L17.5964 15L7.64453 21.6347ZM9.51953 18.125L14.2261 15L9.51953 11.875V18.125Z' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_194' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_194)'%3E%3Cpath d='M8.125 21.875V8.125H21.875V21.875H8.125ZM10 20H20V10H10V20Z' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 현재 play중이라 일시정지버튼만 나옴 */
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_191' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_191)'%3E%3Cpath d='M10.625 22.62V7.38L22.5959 15L10.625 22.62ZM12.5 19.1875L19.0866 15L12.5 10.8125V19.1875Z' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1300px) {

}
@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) { /* mobile ver. */
    .visual ul li {
        height: 537px;
        min-height: auto;
    }
    .visual ul li h3 {
        font-size: 30px;
        margin-bottom: 12px;
        margin-top: 228px;
    }
    .visual ul li p {
        font-size: 16px;
    }
    .visual .btn_wrap button.btn_prev,
    .visual .btn_wrap button.btn_next {
        display: none;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        /* 현재 선택되지 않은 불릿 */
        width: 99px;
        height: 5px;
        margin-right: 9px;
    }
} /* media.visual 768 */
@media screen and (max-width:500px) {
    .visual .btn_wrap button {
        display: none;
    }
}

section .tit h2 {
    color: #DC0B13;
    font-size: 22px;
    font-weight: 900;
    margin: 83px 0 10px 0;
}
section .tit h2 span {
    position: relative; /* after 정렬 기준 */
}
section .tit h2 span::after {
    position: absolute;
    right: -17px;
    top: -8px;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.15193C0 7.40073 0.0361936 7.65858 0.135741 7.90285C0.574655 8.98854 1.6923 9.65804 3.11312 9.09258C3.45248 8.95687 12.8507 5.17056 12.8507 5.17056C12.8507 5.17056 9.14932 14.5527 9.00904 14.901C8.47058 16.2445 9.11764 17.4614 10.2172 17.8685C10.4615 17.959 10.7149 18.0042 10.9638 17.9997C11.8643 17.9952 12.6561 17.4659 13.0452 16.4074C13.1041 16.249 17.733 3.54204 17.8326 3.23895C17.8914 3.058 18 2.63278 18 2.33874C18 1.70995 17.7692 1.11735 17.3213 0.669503C16.8824 0.226184 16.2941 0 15.6742 0C15.371 0 15.1267 0.0542841 14.7557 0.1719C14.5339 0.244278 2.60181 4.682 1.58371 5.06199C0.565611 5.44198 -2.48549e-06 6.25624 0.0045224 7.15193' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    content: "";
}
section .tit p {
    color: #1d1d1d;
    font-size: 40px;
    margin-bottom: 47px;
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%; /* 습관적으로 너비는 li에게 주고 높이는 a한테 주는게 좋음 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative; /* before 정렬 기준 */
    transition: 0.3s;

}
.biz .list ul li.biz1 {
    background-image: url(../imges/main/biz_bg1.png);
}
.biz .list ul li.biz2 {
    background-image: url(../imges/main/biz_bg2.png);
}
.biz .list ul li.biz3 {
    background-image: url(../imges/main/biz_bg3.png);
}
.biz .list ul li.biz4 {
    background-image: url(../imges/main/biz_bg4.png);
}
.biz .list ul li::before {
    position: absolute; /* li 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.25;
    content: "";
}
.biz .list ul li a {
    display: block;
    height: 720px;
    position: relative;
    z-index: 10;
    /*
        <li>
            ::before -- li::before (position값이 있음)
            <a></a>
        </li>

        --li의 before가 position값이 있으면 a보다 더 위에 배치
        그렇다면 a을 before보다 위에 배치해야함. -> a에게 position값을 주고 z-index값을 주면 됨.
    */
}
.biz .list ul li a .inner {
    padding: 0 30px;
    position: absolute; /* a기준 정렬. 마우스오버효과를 부드럽게 주기위해 앱솔루트 부여 */
    left: 0;
    bottom: 10px;
    width: calc(100% - 60px);
    transition: 0.3s;
}
.biz .list ul li a .inner strong {
    display: block;
    font-size: 20px;
    margin-bottom: 6px;
}
.biz .list ul li a .inner h3 {
    font-size: 35px;
    font-weight: 900;
    line-height: 1;
    white-space: nowrap;
}
.biz .list ul li a .inner p {
    opacity: 0;
    transition: 0.3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media screen and (min-width:1025px) {
    /* 하나의 li에 오버했을 때 */
    .biz .list ul li.on a .inner {
        bottom: 70px;
    }
    .biz .list ul li.on {
        width: 60%;
    }
    /* .biz .list ul li.off { width: 16%; (16*3 = 48 + 52 = 100) } */
    .biz .list ul li.off a {
        opacity: 0.8;
    }
    .biz .list ul li.on::before {
        opacity: 0;
    }
    .biz .list ul li.off::before {
        opacity: 0.4;
    }
    .biz .list ul li.on a .inner p {
        opacity: 1;
        font-size: 20px;
        margin-top: 14px;
    }
} /* li.on off media */
@media screen and (max-width:1300px) {
    section .tit h2 {
        font-size: 20px;    
    }
    section .tit p {
        font-size: 38px;
    }
    .biz .list ul li a .inner strong {
        font-size: 16px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 27px;
    }
} /* media.biz 1300 */
@media screen and (max-width:1024px) {
    section .tit h2 {
        font-size: 16px;    
    }
    section .tit p {
        font-size: 34px;
    }
    .biz .list  {
        overflow-x: auto; /* 만약 좌우컨텐츠 너비가 '나' 보다 길면 = list의 너비보다 ul의 너비가 더 넓으면 가로스크롤바 생성 */
    }
    .biz .list ul {
        gap: 16px;
        width: 1228px;
        /* 
            ul의 너비 안에서 li는 무조건 한줄로 표현 - flex
            flex로 좌우 배치 - 하지만 반드시 li의 너비를 유지하려면 ul의 너비를 늘림.
            li 1개 너비 295*4 = 1180px
            사이 여백 16px*3 =48px
            1180 + 48 = 1228px
        */
    }
    .biz .list ul li {
        width: 295px;
    }
    .biz .list ul li a {
        height: 504px;
    }
    .biz .list ul li a .inner strong {
        font-size: 15px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 25px;
    }
    .biz .list ul li a .inner {
        padding: 0 30px;
        left: 0px;
        bottom: 30px;
        width: 100%;
    }
    .biz .list ul li a .inner p {
        display: none;
    }
} /* media.biz 1024 */
@media screen and (max-width:768px) {
    section .tit p {
        font-size: 24px;
    }
    .biz .list ul li a .inner strong {
        font-size: 13px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 20px;
    }
} /* media.biz 768 */
@media screen and (max-width:500px) {}

section.news .tit h2 {
    margin: 130px 0 0 0;
}
section.news .tit p {
    margin: 0 0 56px 0;
}

.news .list ul li a {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}
.news .list ul li a .date {
    display: block;
    color: #1d1d1d;
    font-size: 36px;
    font-weight: 900;
    margin: 22px 0 15px 0;
}
.news .list ul li a h3 {
    color: #1d1d1d;
    font-size: 24px;
    margin-bottom: 13px;
    /* 2줄 제한 */
    line-height: 1.4;
    height: 2.8em ; /* 행간 x 줄 수 */
    overflow: hidden;
}
.news .list ul li a p {
    /* 3줄 제한 */
    line-height: 1.4;
    height: 5.6em ; /* 행간 x 줄 수 */
    overflow: hidden;
}
.news .list ul li a:hover {
    position: relative;
}
.news .list ul li a:hover::before {
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 2px;
    background-color: #DC0B13;
    content: "";
}
.news .ctrl_bar {
    margin: 31px 0 131px 0; 
}
.news .ctrl_bar .scroll {
    position: relative;
    width: calc(100% - 421px);
    margin-left: 421px;
}
.news .ctrl_bar .scroll .swiper-scrollbar {
    left: 0%;
    bottom: 0;
    height: 7px;
    width: 100%;
    border-radius: 0;
    background: #ededed;
}
.news .ctrl_bar .scroll .swiper-scrollbar-drag {
    height: 100%;
    background: #bdbdbd;
    border-radius: 0;
}
.news .ctrl_bar .scroll .swiper-scrollbar-drag:hover {
    background-color: #DC0B13;
    cursor: pointer;
}
.news .ctrl_bar .btn_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 28px;
}
.news .ctrl_bar .btn_wrap button {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬 기준 */
}
.news .ctrl_bar .btn_wrap button.next {
    margin-right: 8px;
}
.news .ctrl_bar .btn_wrap button::before {
    position: absolute; /* button 기준 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_446' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_446)'%3E%3Cpath d='M7.64453 21.6346V8.36523H9.51953V21.6346H7.64453ZM22.3558 21.6346L12.4039 14.9999L22.3558 8.36523V21.6346ZM20.4808 18.1249V11.8749L15.7742 14.9999L20.4808 18.1249Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.news .ctrl_bar .btn_wrap button.next::before {
    transform: translate(-50%, -50%) rotate(180deg);
}
.news .ctrl_bar .btn_wrap .more {
    width: 116px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #1d1d1d;
    color: #1d1d1d;
    border-radius: 13px;
    padding-left: 30px;
    position: relative; /* before 정렬 기준 */
}
.news .ctrl_bar .btn_wrap .more::before {
    position: absolute;
    left: 9px;    
    top: 3px;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_240' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect x='0.5' y='0.5' width='17' height='17' fill='%23D9D9D9' stroke='%231D1D1D'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_240)'%3E%3Cpath d='M6.98081 14.0626V12.9376H15.375V14.0626H6.98081ZM6.98081 9.56257V8.43757H15.375V9.56257H6.98081ZM6.98081 5.06257V3.93757H15.375V5.06257H6.98081ZM3.87262 14.7477C3.5295 14.7477 3.23581 14.6255 2.99156 14.3811C2.74719 14.1369 2.625 13.8432 2.625 13.5001C2.625 13.1569 2.74719 12.8633 2.99156 12.619C3.23581 12.3746 3.5295 12.2524 3.87262 12.2524C4.21575 12.2524 4.50944 12.3746 4.75369 12.619C4.99806 12.8633 5.12025 13.1569 5.12025 13.5001C5.12025 13.8432 4.99806 14.1369 4.75369 14.3811C4.50944 14.6255 4.21575 14.7477 3.87262 14.7477ZM3.87262 10.2477C3.5295 10.2477 3.23581 10.1255 2.99156 9.88113C2.74719 9.63688 2.625 9.34319 2.625 9.00007C2.625 8.65694 2.74719 8.36325 2.99156 8.119C3.23581 7.87463 3.5295 7.75244 3.87262 7.75244C4.21575 7.75244 4.50944 7.87463 4.75369 8.119C4.99806 8.36325 5.12025 8.65694 5.12025 9.00007C5.12025 9.34319 4.99806 9.63688 4.75369 9.88113C4.50944 10.1255 4.21575 10.2477 3.87262 10.2477ZM3.87262 5.74769C3.5295 5.74769 3.23581 5.6255 2.99156 5.38113C2.74719 5.13688 2.625 4.84319 2.625 4.50007C2.625 4.15694 2.74719 3.86325 2.99156 3.619C3.23581 3.37463 3.5295 3.25244 3.87262 3.25244C4.21575 3.25244 4.50944 3.37463 4.75369 3.619C4.99806 3.86325 5.12025 4.15694 5.12025 4.50007C5.12025 4.84319 4.99806 5.13688 4.75369 5.38113C4.50944 5.6255 4.21575 5.74769 3.87262 5.74769Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.news .ctrl_bar .btn_wrap .more:hover {
    background-color: #DC0B13;
    border-color: #DC0B13;
    color: #fff;
}
.news .ctrl_bar .btn_wrap .more:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_450' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_450)'%3E%3Cpath d='M6.98081 14.0626V12.9376H15.375V14.0626H6.98081ZM6.98081 9.56257V8.43757H15.375V9.56257H6.98081ZM6.98081 5.06257V3.93757H15.375V5.06257H6.98081ZM3.87262 14.7477C3.5295 14.7477 3.23581 14.6255 2.99156 14.3811C2.74719 14.1369 2.625 13.8432 2.625 13.5001C2.625 13.1569 2.74719 12.8633 2.99156 12.619C3.23581 12.3746 3.5295 12.2524 3.87262 12.2524C4.21575 12.2524 4.50944 12.3746 4.75369 12.619C4.99806 12.8633 5.12025 13.1569 5.12025 13.5001C5.12025 13.8432 4.99806 14.1369 4.75369 14.3811C4.50944 14.6255 4.21575 14.7477 3.87262 14.7477ZM3.87262 10.2477C3.5295 10.2477 3.23581 10.1255 2.99156 9.88113C2.74719 9.63688 2.625 9.34319 2.625 9.00007C2.625 8.65694 2.74719 8.36325 2.99156 8.119C3.23581 7.87463 3.5295 7.75244 3.87262 7.75244C4.21575 7.75244 4.50944 7.87463 4.75369 8.119C4.99806 8.36325 5.12025 8.65694 5.12025 9.00007C5.12025 9.34319 4.99806 9.63688 4.75369 9.88113C4.50944 10.1255 4.21575 10.2477 3.87262 10.2477ZM3.87262 5.74769C3.5295 5.74769 3.23581 5.6255 2.99156 5.38113C2.74719 5.13688 2.625 4.84319 2.625 4.50007C2.625 4.15694 2.74719 3.86325 2.99156 3.619C3.23581 3.37463 3.5295 3.25244 3.87262 3.25244C4.21575 3.25244 4.50944 3.37463 4.75369 3.619C4.99806 3.86325 5.12025 4.15694 5.12025 4.50007C5.12025 4.84319 4.99806 5.13688 4.75369 5.38113C4.50944 5.6255 4.21575 5.74769 3.87262 5.74769Z' fill='%23FFEEE2'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1300px) {}
@media screen and (max-width:1024px) {
    .news .list ul li {
        width: 295px;
    }
    .news .list ul li a .date {
        font-size: 32px;
        font-weight: 900;
        margin: 20px 0 13px 0;
    }
    .news .list ul li a h3 {
        font-size: 22px;
        margin-bottom: 11px;
    }
}/* media.news 1024 */
@media screen and (max-width:768px) {
    .news .list ul li a .date {
        font-size: 28px;
        margin: 16px 0 9px 0;
    }
    .news .list ul li a h3 {
        font-size: 19px;
        margin-bottom: 9px;
    }
    .news .ctrl_bar .scroll {
        width: 100%;
        margin-left: 0;
    }
    .news .ctrl_bar .btn_wrap {
        justify-content: center;
        padding-top: 25px;
    }
    .news .ctrl_bar .btn_wrap button {
        display: none;
    }
    .news .ctrl_bar .btn_wrap .more {
        display: block;
    }
    .news .ctrl_bar .btn_wrap .more::before {
        position: absolute;
        left: 9px;    
        top: 3px;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_240' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect x='0.5' y='0.5' width='17' height='17' fill='%23D9D9D9' stroke='%231D1D1D'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_240)'%3E%3Cpath d='M6.98081 14.0626V12.9376H15.375V14.0626H6.98081ZM6.98081 9.56257V8.43757H15.375V9.56257H6.98081ZM6.98081 5.06257V3.93757H15.375V5.06257H6.98081ZM3.87262 14.7477C3.5295 14.7477 3.23581 14.6255 2.99156 14.3811C2.74719 14.1369 2.625 13.8432 2.625 13.5001C2.625 13.1569 2.74719 12.8633 2.99156 12.619C3.23581 12.3746 3.5295 12.2524 3.87262 12.2524C4.21575 12.2524 4.50944 12.3746 4.75369 12.619C4.99806 12.8633 5.12025 13.1569 5.12025 13.5001C5.12025 13.8432 4.99806 14.1369 4.75369 14.3811C4.50944 14.6255 4.21575 14.7477 3.87262 14.7477ZM3.87262 10.2477C3.5295 10.2477 3.23581 10.1255 2.99156 9.88113C2.74719 9.63688 2.625 9.34319 2.625 9.00007C2.625 8.65694 2.74719 8.36325 2.99156 8.119C3.23581 7.87463 3.5295 7.75244 3.87262 7.75244C4.21575 7.75244 4.50944 7.87463 4.75369 8.119C4.99806 8.36325 5.12025 8.65694 5.12025 9.00007C5.12025 9.34319 4.99806 9.63688 4.75369 9.88113C4.50944 10.1255 4.21575 10.2477 3.87262 10.2477ZM3.87262 5.74769C3.5295 5.74769 3.23581 5.6255 2.99156 5.38113C2.74719 5.13688 2.625 4.84319 2.625 4.50007C2.625 4.15694 2.74719 3.86325 2.99156 3.619C3.23581 3.37463 3.5295 3.25244 3.87262 3.25244C4.21575 3.25244 4.50944 3.37463 4.75369 3.619C4.99806 3.86325 5.12025 4.15694 5.12025 4.50007C5.12025 4.84319 4.99806 5.13688 4.75369 5.38113C4.50944 5.6255 4.21575 5.74769 3.87262 5.74769Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
} /* media.news 768 */

.service {
    padding: 47px 0 134px 0; /* browser size가 줄어들 시, 글자가 여러 줄이 되면 높이가 바뀐다. -> 높이를 안주고 위아래 여백으로 줌. */
    background: url(../imges/main/service_bg.png) no-repeat center center / cover;
}
section.service .tit h2 {
    margin: 0;
}
section.service .tit p {
    color: #fff;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    /* 100/li = 33.33%
        중간여백 총합 24*2 = 48 / li의 갯수 = 48/3 = 16
        calc(33.33% - 16px) */
    width: calc(33.33% - 16px);
}
.service .list ul li a {
    display: block;
    height: 90px;
    background-color: #fff;
    color: #1d1d1d;
    transition: 0.3s;
}
.service .list ul li:hover a {
    transform: translate(-10px, -10px);
    box-shadow: 10px, 10px, 10px, rgba(0, 0, 0, 0.25);
    /* 마우스오버 시, 유동 애니메이션을 주면 범위가 변경되기 때문에 오류가 발생함. -> a 가 아니라 li에 hover를 주자. */
}
.service .list ul li a .inner {
    margin: 0 34px;
    padding: 20px 0 20px 81px;
    position: relative; /* before 정렬 기준 */
}
.service .list ul li a .inner::before {
    position: absolute; /* inner 기준 정렬 */
    left: 5px;
    top: 10px;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.service .list ul li.man a .inner::before{
    top: 3px;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_340' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='70' height='70'%3E%3Crect width='70' height='70' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_340)'%3E%3Cpath d='M13.2432 34.1021C12.1431 34.1021 11.2314 33.7427 10.5081 33.0237C9.78427 32.3042 9.42236 31.3947 9.42236 30.2952C9.42236 29.1951 9.78208 28.2831 10.5015 27.5593C11.2205 26.836 12.13 26.4743 13.2301 26.4743C14.3301 26.4743 15.2418 26.834 15.9652 27.5535C16.689 28.2724 17.0509 29.182 17.0509 30.282C17.0509 31.3821 16.6912 32.2938 15.9717 33.0171C15.2528 33.7405 14.3433 34.1021 13.2432 34.1021ZM9.75923 63.4372V50.3122H7.17871V39.2063C7.17871 38.5865 7.38847 38.0671 7.80798 37.6481C8.22701 37.2286 8.74642 37.0188 9.36621 37.0188H17.1063C17.7261 37.0188 18.2458 37.2286 18.6653 37.6481C19.0843 38.0671 19.2938 38.5865 19.2938 39.2063V50.3122H16.714V59.0622H41.6741V42.8521H35.8408C32.7822 42.8521 30.1946 41.7987 28.0781 39.6919C25.9616 37.5846 24.9033 35.0483 24.9033 32.0831C24.9033 29.7313 25.5819 27.6213 26.9391 25.7532C28.2968 23.8855 30.0413 22.4843 32.1724 21.5495C32.5015 18.4272 33.7991 15.8499 36.0654 13.8174C38.3311 11.785 40.9299 10.7688 43.8616 10.7688C46.7934 10.7688 49.3921 11.785 51.6579 13.8174C53.9241 15.8499 55.2216 18.4272 55.5502 21.5495C57.6818 22.4843 59.4262 23.8855 60.7834 25.7532C62.1411 27.6213 62.82 29.7313 62.82 32.0831C62.82 35.0483 61.7617 37.5846 59.6452 39.6919C57.5286 41.7987 54.9411 42.8521 51.8825 42.8521H46.0491V59.0622H60.6325V63.4372H9.75923ZM35.8408 38.4771H51.8825C53.7107 38.4771 55.2617 37.8615 56.5353 36.6302C57.8084 35.3988 58.445 33.8831 58.445 32.0831C58.445 30.6398 58.0223 29.3506 57.1769 28.2156C56.3321 27.081 55.2366 26.2276 53.8906 25.6555L51.445 24.623L51.1759 22.0877C50.996 20.1398 50.2144 18.4955 48.8309 17.1548C47.4474 15.8141 45.791 15.1438 43.8616 15.1438C41.9323 15.1438 40.2756 15.8141 38.8916 17.1548C37.5082 18.4955 36.7267 20.1398 36.5474 22.0877L36.2783 24.623L33.8327 25.6555C32.4866 26.2276 31.3909 27.081 30.5456 28.2156C29.7007 29.3506 29.2783 30.6398 29.2783 32.0831C29.2783 33.8831 29.9149 35.3988 31.188 36.6302C32.4611 37.8615 34.012 38.4771 35.8408 38.4771Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li.sec a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_358' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='70' height='70'%3E%3Crect width='70' height='70' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_358)'%3E%3Cpath d='M16.77 49.5836V27.7086H21.145V49.5836H16.77ZM32.8117 49.5836V27.7086H37.1867V49.5836H32.8117ZM8.07617 59.7919V55.4169H61.9222V59.7919H8.07617ZM48.8534 49.5836V27.7086H53.2284V49.5836H48.8534ZM8.07617 21.8753V17.7248L34.9992 4.5437L61.9222 17.7248V21.8753H8.07617ZM18.4187 17.5003H51.5797L34.9992 9.47943L18.4187 17.5003Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li.rec a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_331' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='70' height='70'%3E%3Crect width='70' height='70' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_331)'%3E%3Cpath d='M12.5646 62.7084C11.0912 62.7084 9.84408 62.198 8.82324 61.1772C7.80241 60.1563 7.29199 58.9092 7.29199 57.4358V27.1477C7.29199 25.6743 7.80241 24.4272 8.82324 23.4063C9.84408 22.3855 11.0912 21.8751 12.5646 21.8751H27.7087V11.6667C27.7087 10.4554 28.135 9.42334 28.9876 8.5707C29.8403 7.71807 30.8723 7.29175 32.0837 7.29175H37.917C39.1284 7.29175 40.1604 7.71807 41.013 8.5707C41.8657 9.42334 42.292 10.4554 42.292 11.6667V21.8751H57.4361C58.9095 21.8751 60.1566 22.3855 61.1774 23.4063C62.1982 24.4272 62.7087 25.6743 62.7087 27.1477V57.4358C62.7087 58.9092 62.1982 60.1563 61.1774 61.1772C60.1566 62.198 58.9095 62.7084 57.4361 62.7084H12.5646ZM12.5646 58.3334H57.4361C57.6981 58.3334 57.9132 58.2493 58.0814 58.0811C58.2496 57.9129 58.3337 57.6978 58.3337 57.4358V27.1477C58.3337 26.8857 58.2496 26.6706 58.0814 26.5024C57.9132 26.3342 57.6981 26.2501 57.4361 26.2501H42.292V27.3723C42.292 28.5647 41.8611 29.5919 40.9992 30.4537C40.1373 31.3156 39.1099 31.7465 37.917 31.7465H32.0837C30.8907 31.7465 29.8633 31.3156 29.0015 30.4537C28.1396 29.5919 27.7087 28.5647 27.7087 27.3723V26.2501H12.5646C12.3026 26.2501 12.0875 26.3342 11.9193 26.5024C11.7511 26.6706 11.667 26.8857 11.667 27.1477V57.4358C11.667 57.6978 11.7511 57.9129 11.9193 58.0811C12.0875 58.2493 12.3026 58.3334 12.5646 58.3334ZM17.9488 51.6586H34.5519V50.7946C34.5519 50.043 34.3443 49.3523 33.9292 48.7223C33.514 48.0923 32.9399 47.6015 32.2069 47.2501C31.2536 46.8311 30.288 46.517 29.3099 46.308C28.3323 46.0985 27.3125 45.9937 26.2503 45.9937C25.1882 45.9937 24.1683 46.0985 23.1907 46.308C22.2127 46.517 21.247 46.8311 20.2938 47.2501C19.5607 47.6015 18.9866 48.0923 18.5715 48.7223C18.1563 49.3523 17.9488 50.043 17.9488 50.7946V51.6586ZM40.8337 47.2275H52.5003V43.7501H40.8337V47.2275ZM26.2503 43.7501C27.3348 43.7501 28.2604 43.3668 29.027 42.6002C29.7936 41.8336 30.1769 40.908 30.1769 39.8235C30.1769 38.7395 29.7936 37.8142 29.027 37.0476C28.2604 36.281 27.3348 35.8977 26.2503 35.8977C25.1658 35.8977 24.2403 36.281 23.4737 37.0476C22.7071 37.8142 22.3238 38.7395 22.3238 39.8235C22.3238 40.908 22.7071 41.8336 23.4737 42.6002C24.2403 43.3668 25.1658 43.7501 26.2503 43.7501ZM40.8337 39.3751H52.5003V35.8977H40.8337V39.3751ZM32.0837 27.3723H37.917V11.6667H32.0837V27.3723Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a .inner strong {
    color: #1d1d1d;
    font-size: 18px;
}
.service .list ul li a .inner h3 {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 900;
}
@media screen and (max-width:1300px) {
    .service .list ul {
        display: block;
    }
    .service .list ul li {
        width: auto;
        margin-bottom: 16px;
    }
    .service .list ul li a {
        text-align: center;
        border-radius: 30px;
    }
    .service .list ul li a .inner {
        display: inline-block;
        text-align: left;
        width: 22em;
    }
}/* media.service 1300 */
@media screen and (max-width:1024px) {}
@media screen and (max-width:768px) {
    .service .tit p br {
        display: none;
    }
    .service .list ul li a .inner {
        padding-top: 24px;
    }
    .service .list ul li.man a .inner::before{
        top: 12px;
    }
    .service .list ul li a .inner strong {
        font-size: 16px;
    }
    .service .list ul li a .inner h3 {
        color: #1d1d1d;
        font-size: 16px;
    }
    .service .list ul li a .inner::before {
        position: absolute; /* inner 기준 정렬 */
        left: 20px;
        top: 15px;
        width: 55px;
        height: 55px;
    }
} /* media.service 768 */ 