@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*
    각각의 서브 컨텐츠 페이지의 컨텐츠를 코딩...
    !!제일 중요한 것은 절대 이름이 겹치면 안됨!!
    규칙 : cts_[pagename] 로 감싸서 겹치지 않게 하기.
*/

/* 회사소개 - ceo인사말 */
.cts_ceo {
    margin: 85px 0 77px 0;
}
.cts_ceo .wrapper {
    display: flex;
    justify-content: space-between;
}
.cts_ceo .txt_wrap {
    width: 41%;
    width: calc((100% - 706px));
}
.cts_ceo .txt_wrap .tit p {
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 900;
}
.cts_ceo .txt_wrap .txt p {
    line-height: 1.6;
}
.cts_ceo .txt_wrap .txt p {
    font-size: 15px;
}
.cts_ceo .photo_wrap {
    overflow: hidden;
    font-size: 0;
    line-height: 0; 
    width: 48.1%;
    width: 607px;
}
.cts_ceo .photo_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cts_ceo .photo_wrap .sign {
    display: flex;
    margin-top: 106px;
}
.cts_ceo .photo_wrap .sign strong {
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 900;
    margin: 21px 53px 0 110px;
}

@media screen and (max-width:1300px) {
    .cts_ceo .txt_wrap {
        width: calc((100% - 606px));
    }
    .cts_ceo .txt_wrap .tit p {
        font-size: 26px;
        font-weight: 900;
    }
    .cts_ceo .photo_wrap {
        width: 507px;
    }
    .cts_ceo .photo_wrap .sign {
        margin-top: 98px;
    }
    .cts_ceo .photo_wrap .sign strong {
        font-size: 18px;
        margin: 21px 53px 0 30px;
    }
} /* media 1300 */
@media screen and (max-width:1024px) {
    .cts_ceo .wrapper {
        display: block;
    }
    .cts_ceo .txt_wrap {
        width: 100%;
    }
    .cts_ceo .txt_wrap .tit p {
        font-size: 26px;
        font-weight: 900;
    }
    .cts_ceo .photo_wrap {
        width: auto;
        margin-top: 35px;
    }
    .cts_ceo .photo_wrap .photo {
        height: 300px;
        max-width: 300px;
        margin: 0 auto;
    }
    .cts_ceo .photo_wrap .sign {
        margin-top: 98px;
        justify-content: center;
    }
    .cts_ceo .photo_wrap .sign strong {
        font-size: 16px;
        margin: 21px 10px 0 0;
    }
} /* emedia 1024 */
@media screen and (max-width:768px) {
    .cts_ceo .photo_wrap .sign {
        margin-top: 14px;
        justify-content: center;
    }
    .cts_ceo .photo_wrap .sign strong {
        font-size: 13px;
        margin: 21px 10px 0 0;
        line-height: 1.2;
        height: 3.6em;
        overflow: hidden;
    }
} /* media 768 */ /* //회사소개 - ceo인사말 */

/* 회사소개 - 연혁 */
.cts_history {
    margin: 52px 0 152px 0;
}
.cts_history .tab_area .tab_btn {
    overflow-x: auto; /* 만약 ul의 너비가 tab_btn 보다 넓어지면 스크롤바 생성 */
    overflow-y: hidden; /* 세로 스크롤바 숨김 */
}
.cts_history .tab_area .tab_btn ul[role="tablist"] {
    display: flex;
    justify-content: center;
}
.cts_history .tab_area .tab_btn ul li {
    margin-right: 30px;
}
.cts_history .tab_area .tab_btn ul li:last-child {
    margin-right: 0;
}
.cts_history .tab_area .tab_btn ul li button {
    /* padding: 12px 36px 11px 36px; */
    width: 171px;
    height: 41px;
    background-color: #ededed;
    border-radius: 33px;
    color: #1d1d1d;
    font-size: 18px;
    position: relative; /* after 정렬 기준 */
    white-space: nowrap; /* 무조건 1줄 */
}
.cts_history .tab_area .tab_btn ul li.active button,
.cts_history .tab_area .tab_btn ul li button:hover {
    background-color: #DC0B13;
    color: #fff;
    font-weight: 900;
}
.cts_history .tab_area .tab_btn ul li.active button::after,
.cts_history .tab_area .tab_btn ul li button:hover::after {
    position: absolute; /* button 기준 정렬 */
    left: 75px;
    bottom: -6px;
    width: 7px;
    height: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='6' viewBox='0 0 7 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 6L0.468912 0.749999L6.53109 0.75L3.5 6Z' fill='%23DC0B13'/%3E%3C/svg%3E%0A");
    content: "";
}
/* div 중에 role="tabpanel" 속성을 가진 div 선택 */
.cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit {
    height: 309px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../imges/contents/history_bg1.png);
    color: #fff;
    text-align: center;
    margin-top: 79px;
}
.cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit.bg1 {
    background-image: url(../imges/contents/history_bg1.png);
}
.cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit.bg2 {
    background-image: url(../imges/contents/history_bg2.png);
}
.cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit.bg3 {
    background-image: url(../imges/contents/history_bg3.png);
}
.cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit.bg4 {
    background-image: url(../imges/contents/history_bg4.png);
}
.cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit strong {
    display: block;
    padding-top: 111px;
    margin-bottom: 5px;
}
.cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit h3 {
    font-size: 42px;
    font-weight: 900;
}
.cts_history .history_list {
    margin-top: 86px;
    position: relative; /* before / after 기준 */
}
.cts_history .history_list::before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #EDB6B8;
    content: "";
}
.cts_history .history_list .year_wrap {
    margin-bottom: 46px;
}
.cts_history .history_list .year_wrap:last-child {
    margin-bottom: 0;
    position: relative; /* before 정렬 기준 */
}
.cts_history .history_list .year_wrap:last-child::before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #fff;
    content: "";
}
.cts_history .history_list .year_wrap.right {
    padding-left: calc(50% + 46px);
}
.cts_history .history_list .year_wrap.left {
    padding-right: calc(50% + 46px);
    text-align: right;
}
.cts_history .history_list .year_wrap.left ul li {
    flex-direction: row-reverse;
}
.cts_history .history_list .year_wrap h4 {
    font-size: 40px;
    font-weight: 900;
    color: #DC0B13;
    margin-bottom: 35px;
    position: relative; /* before 정렬 기준 */
}
.cts_history .history_list .year_wrap h4::before {
    position: absolute;
    z-index: 10;
    left: -49px;
    top: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #DC0B13;
    content: "";
}
.cts_history .history_list .year_wrap.left h4::before {
    left: auto; /* 취소 */
    right: -50px;
}
.cts_history .history_list .year_wrap ul li {
    display: flex;
    margin-bottom: 20px;
}
.cts_history .history_list .year_wrap ul li strong {
    font-size: 18px;
    font-weight: 900;
    color: #1d1d1d;
    width: 6em;
}
.cts_history .history_list .year_wrap ul li span {
    font-size: 18px;
    width: calc(100% - 6em); /* span tag가 상속받은 글자크기 기준 */
}
@media screen and (max-width:1300px) {
    .cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit strong {
        margin-bottom: 3px;
    }
    .cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit h3 {
        font-size: 36px;
    }
    .cts_history .history_list .year_wrap h4 {
        font-size: 36px;
    }
    .cts_history .history_list .year_wrap ul li strong {
        font-size: 16px;
    }
    .cts_history .history_list .year_wrap ul li span {
        font-size: 16px;
    }



} /* media 1300 */
@media screen and (max-width:1024px) {
    .cts_history .history_list .year_wrap h4 {
        font-size: 32px;
    }
    .cts_history .tab_area .tab_btn ul[role="tablist"] {
        display: flex;
        justify-content: flex-start;
    }



} /* media 1024 */
@media screen and (max-width:768px) {
    /* 회사소개 - 연혁 */
    .cts_history {
        margin: 42px 0 56px 0;
    }
    .cts_history .tab_area .tab_btn ul li {
        margin-right: 6px;
    }
    .cts_history .tab_area .tab_btn ul li button {
        /* padding: 12px 36px 11px 36px; */
        width: 101px;
        height: 30px;
        border-radius: 15px;
        font-size: 16px;
    }
    .cts_history .tab_area .tab_btn ul li.active button::after,
    .cts_history .tab_area .tab_btn ul li button:hover::after {
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
    }
    /* div 중에 role="tabpanel" 속성을 가진 div 선택 */
    .cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit {
        height: 172px;
        margin-top: 50px;
    }
    .cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit strong {
        display: block;
        padding-top: 46px;
        margin-bottom: 4px;
    }
    .cts_history .tab_area .tab_cts div[role="tabpanel"] .history_tit h3 {
        font-size: 26px;
    }
    .cts_history .history_list {
        margin-top: 46px;
    }
    .cts_history .history_list::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #EDB6B8;
        content: "";
    }
    .cts_history .history_list .year_wrap {
        margin-bottom: 46px;
    }
    .cts_history .history_list .year_wrap:last-child::before {
        left: 0;
    }
    .cts_history .history_list .year_wrap.right {
        padding-left: 5%;
    }
    .cts_history .history_list .year_wrap.left {
        padding-right: 0;
        padding-left: 5%;
        text-align: left;
    }
    .cts_history .history_list .year_wrap.left ul li {
        flex-direction: row;
    }
    .cts_history .history_list .year_wrap h4 {
        font-size: 21px;
        margin-bottom: 15px;
    }
    .cts_history .history_list .year_wrap h4::before {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #DC0B13;
        content: "";
    }
    .cts_history .history_list .year_wrap.left h4::before {
        left: auto; /* 취소 */
        right: -50px;
    }
    .cts_history .history_list .year_wrap ul li {
        display: flex;
        margin-bottom: 20px;
    }
    .cts_history .history_list .year_wrap ul li strong {
        font-size: 18px;
        font-weight: 900;
        color: #1d1d1d;
        width: 6em;
    }
    .cts_history .history_list .year_wrap ul li span {
        font-size: 18px;
        width: calc(100% - 6em); /* span tag가 상속받은 글자크기 기준 */
    }
}  /* media 768 */